@charset "UTF-8";
@use "setting" as *;
/*                reset
======================================================= */
@include reset;

/*                テキスト装飾
======================================================= */
.text_right,
.alignright {
  text-align: right;
}
.text_left,
.alignleft {
  text-align: left;
}
.text_center,
.aligncenter {
  text-align: center;
}
.underline {
  text-decoration: underline;
}

/*                table
======================================================= */
table {
  width: 100%;
  border-collapse: separate;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
}
table tr td,
table tr th {
  text-align: left;
  padding: 0px;
}

/*                iframeのレスポン化
======================================================= */
.frame_respon {
  .fb_iframe_widget,
  .fb_iframe_widget span,
  .fb_iframe_widget iframe[style] {
    width: 100%important;
  }
}
.gmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed {
    border: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/********************************************   
           　  セクションのタイトル
*********************************************/
.sectionTitle {
  .sectionTitle_word {
    font-size: 30px;
    font-weight: 700;
    font-family: $fontNotoCJK;
    @include media1599 {
      font-size: 30rem;
    }
    @include media767 {
      font-size: 24px;
    }
  }
  &.vertical {
    .sectionTitle_word {
      writing-mode: vertical-rl;
      -webkit-text-orientation: mixed;
      text-orientation: mixed;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background-color: $colorGrayWeak;
        top: 0;
        left: 0;
        transform: translateX(-50%);
      }
      &::after {
        left: 100%;
      }
      span {
        margin-top: 43px;
        font-family: $fontLato;
        font-weight: 400;
        font-size: 14px;
        color: $colorGrayStrong;
        @include media1599 {
          font-size: 14rem;
        }
        @include media767 {
          font-size: 12px;
        }
      }
    }
  }
  &.jp {
    text-align: center;
    .sectionTitle_jp {
      font-family: $fontNotoCJK;
      font-weight: 500;
      font-size: 16px;
      color: $colorSite;
      position: relative;
      display: inline-block;
      padding: 0 30px;
      @include media1599 {
        font-size: 16rem;
      }
      @include media767 {
        font-size: 14px;
      }
      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background-color: $colorSite;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
      }
      &::after {
        left: 100%;
        transform: translateX(-100%);
      }
    }
    .sectionTitle_word {
      margin-top: 10px;
      text-align: center;
      @include media1599 {
        margin-top: 10rem;
      }
      @include media767 {
        margin-top: 5px;
      }
    }
  }

  &.en {
    .sectionTitle_en {
      font-family: $fontLato;
      font-weight: 400;
      font-size: 14px;
      color: $colorGrayStrong;
      line-height: 1;
      @include media1599 {
        font-size: 14rem;
      }
      @include media767 {
        font-size: 12px;
      }
    }
    .sectionTitle_word {
      margin-top: 10px;
      line-height: 1;
      padding-bottom: 14px;
      position: relative;
      @include media1599 {
        margin-top: 10rem;
        padding-bottom: 14rem;
      }
      @include media767 {
        margin-top: 5px;
        padding-bottom: 10px;
      }
      &::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 4px;
        background-color: $colorSite;
        bottom: 0;
        left: 0;
      }
    }
  }
}

/********************************************   
           　  改行 表示非表示
*********************************************/
.sp_none {
  @include media767 {
    display: none;
  }
}
.pc_none {
  display: none;
  @include media767 {
    display: block;
  }
}
/********************************************   
           　  リスト
*********************************************/
.kome_num_list {
  width: 331px;
  margin: 25px auto 0;
  @include media1599 {
    width: 331rem;
    margin: 25rem auto 0;
  }
  @include media1023 {
    width: 350rem;
  }
  @include media767 {
    width: 100%;
    max-width: 350px;
    margin: 20px auto 0;
  }
  li {
    position: relative;
    font-size: 12px;
    padding-left: 20px;
    @include media1599 {
      font-size: 12rem;
      padding-left: 20rem;
    }

    @include media767 {
      font-size: 12px;
      padding-left: 20px;
    }
    &::before {
      position: absolute;
      content: "※1";
      font-size: 12px;
      top: 0;
      left: 0;
      @include media1599 {
        font-size: 12rem;
      }
      @include media767 {
        font-size: 12px;
      }
    }
    &:nth-child(2) {
      &::before {
        content: "※2";
      }
    }
  }
}
.kome_list {
  margin: 30px auto 0;
  @include media1599 {
    margin: 30rem auto 0;
  }
  @include media767 {
    margin: 3px 0 auto;
  }
  li {
    text-align: center;
    margin-left: 5px;
    @include media1599 {
      margin-left: 5rem;
    }
    @include media767 {
      margin-left: 5px;
    }
    span {
      position: relative;
      font-size: 14px;
      padding-left: 14px;
      display: inline-block;
      @include media1599 {
        font-size: 14rem;
        padding-left: 14rem;
      }
      @include media767 {
        font-size: 10px;
        padding-left: 10px;
      }
      &::before {
        position: absolute;
        content: "※";
        font-size: 12px;
        top: 1px;
        left: 0;
        @include media1599 {
          font-size: 12rem;
        }
        @include media767 {
          top: 0;
          font-size: 10px;
        }
      }
    }
  }
}
/********************************************   
           　  swiper
*********************************************/

.swiper-button-prev,
.swiper-button-next {
  z-index: 3;
  width: 69px;
  height: 69px;
  background-color: $colorSite;
  border-radius: 50%;
  top: calc(50% - 25px);
  transition: 0.5s;
  border: 3px solid $colorSite;
  transform: translateX(-50%);
  left: 35px;
  @include media1599 {
    width: 69rem;
    height: 69rem;
    top: calc(50% - 25rem);
    left: 35rem;
  }
  @include media1024 {
    &:hover {
      background-color: #fff;
      .arrowBtn {
        &::before {
          background-color: $colorSite;
        }
      }
    }
  }
  @include media767 {
    width: 38px;
    height: 38px;
    top: calc(50% - 3px);
    left: 20px;
  }
  .arrowBtn {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 13px);
      width: 19px;
      height: 27px;
      right: -10px;
      mask: url(/asset_lp6/media/images/swiper_arrow.svg) no-repeat
        center/contain;
      background-color: #fff;
      @include media1599 {
        top: calc(50% - 13rem);
        width: 19rem;
        height: 27rem;
        right: -10rem;
      }
      @include media767 {
        top: calc(50% - 7px);
        width: 10px;
        height: 14px;
        right: -5px;
      }
    }
  }
  &::before,
  &::after {
    content: none;
  }
}
.swiper-button-next {
  transform: translateX(-50%);
  left: calc(100% - 35px);
  @include media1599 {
    left: calc(100% - 35rem);
  }
  @include media767 {
    left: calc(100% - 22px);
  }
  .arrowBtn {
    &::before {
      transform: rotate(-180deg);
      right: -12px;
      @include media1599 {
        right: -12rem;
      }
      @include media767 {
        right: -6px;
      }
    }
  }
}
/*ナビゲーションのボタン*/
.swiper-pagination-horizontal {
  &.swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 7px;
      @include media1599 {
        margin: 0 7rem;
      }
      @include media767 {
        margin: 0 5px;
      }
    }
  }
}

.swiper-pagination-bullet {
  background: #fff;
  border: 2px solid $colorSite;
  opacity: 1;
  width: 12px;
  height: 12px;
  transition: 0.5s;
  @include media1599 {
    width: 12rem;
    height: 12rem;
  }
  @include media1024 {
    &:hover {
      opacity: 0.6;
    }
  }
  @include media767 {
    width: 12px;
    height: 12px;
  }
  &.swiper-pagination-bullet-active {
    background: $colorSite;
  }
}

/*                ヘッダー・サイド・フッター
======================================================= */
/*                header
======================================================= */
#header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  width: 100%;
  z-index: 10;
  height: 80px;
  background-color: rgb(255, 255, 255, 0.6);
  transition: all 0.5s;
  &.scroll {
  }
  #hd_logo {
    .logo_inner {
      h1 {
        span {
          display: block;
          width: 230px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  #sp_menu_btn {
    display: none;
    width: auto;
    height: 100%;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorSite;
    width: 80px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 40px;
      background-color: $colorGrayWeak;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    .sp_btn_cont {
      position: relative;
      width: 22px;
      height: 18px;
      span {
        position: absolute;
        display: block;
        width: 22px;
        height: 2px;
        background: #fff;
        transition: all 0.5s;
        border-radius: 8px;
        &.border01 {
          top: -2px;
        }
        &.border02 {
          top: 6px;
        }
        &.border03 {
          top: 14px;
        }
      }
    }
  }
}
#gnavi {
  display: flex;
  align-items: center;
  font-family: $fontNotoCJK;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
}
.gnavi_wrap {
  height: 100%;
  display: flex;
  align-items: center;
}
.gnavi_group {
  height: 100%;
}
.gnavi_group_ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.gnavi_group_left_ul {
  max-width: 580px;
  li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    + li {
      margin-left: 30px;
    }
    &:last-child {
      margin-right: 30px;
    }
  }
}
.gnavi_group_right_ul {
  background-color: $colorSite;
  li {
    height: 100%;
    position: relative;
    + li {
      &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 40px;
        background-color: $colorGrayWeak;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 100%;
  }
}

//header

/*                sp_menu_btn
======================================================= */
.sp_menu_btn {
  position: fixed;
  right: 20px;
  top: 26px;
  cursor: pointer;
  z-index: 1000;
  .sp_btn_cont {
    position: relative;
    display: block;
    height: 16px;
    width: 22px;
    top: 3px;
    span {
      position: absolute;
      display: block;
      width: 40px;
      height: 2px;
      right: 0;
      transition: all 0.4s;
      background-color: $colorSite;
      &.border01 {
        top: 0px;
      }
      &.border02 {
        top: 13px;
      }
      &.border03 {
        top: 26px;
      }
    }
  }
  &.active {
    .sp_btn_cont {
      span {
        &.border01 {
          top: 6px;
          transform: translateY(7px) rotate(45deg);
        }
        &.border02 {
          opacity: 0;
        }
        &.border03 {
          top: 17px;
          transform: translateY(-4px) rotate(-45deg);
        }
      }
    }
  }
  @include media767 {
    right: 20px;
    top: 14px;
    .sp_btn_cont {
      height: 22px;
      width: 22px;
      top: 3px;
      span {
        width: 22px;
        height: 1px;
        right: 0;
        &.border01 {
          top: 0px;
        }
        &.border02 {
          top: 8px;
        }
        &.border03 {
          top: 16px;
        }
      }
    }
    &.active {
      .sp_btn_cont {
        span {
          &.border01 {
            top: 0;
            transform: translateY(7px) rotate(45deg);
          }
          &.border02 {
            opacity: 0;
          }
          &.border03 {
            top: 11px;
            transform: translateY(-4px) rotate(-45deg);
          }
        }
      }
    }
  }
} //sp_menu_btn
/*                sp_menu
======================================================= */
#sp_menu {
  display: block;
  position: fixed;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;
  transition: 400ms;
  padding-bottom: 50px;
  color: #ffffff;
  font-size: 15px;
  @include media1024 {
    display: none;
  }
  #sp_menu_area {
    padding: 30px 26px 0;
    .sp_gnavi_title {
      margin-bottom: 30px;
      p {
        text-align: center;
        span {
          font-size: 32px;
          font-weight: 700;
        }
      }
    }
    #sp_gnavi {
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 16px;
        border-top: solid 1px #4d4e4e;
        li {
          width: 100%;
          padding: 16px;
          border-bottom: solid 1px #4d4e4e;
          > a,
          > span {
            position: relative;
            display: block;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            width: 100%;
            text-decoration: none;
            &:after {
              position: absolute;
              content: "";
              top: 3px;
              right: 3px;
              width: 8px;
              height: 8px;
              border-top: 1px solid #fff;
              border-right: 1px solid #fff;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          &.acc_menu {
            > a,
            > span {
              &:after {
                top: 6px;
                right: 0px;
                -webkit-transform: rotate(-225deg);
                transform: rotate(-225deg);
                transition: all 0.4s;
              }
            }
            &.open {
              padding-bottom: 0;
              border-bottom: none;
              > a,
              > span {
                &:after {
                  top: 3px;
                  right: 3px;
                  -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                  transition: all 0.4s;
                }
              }
            }
            .pro_sub_title {
              padding-bottom: 0;
              border-bottom: none;
              > span {
                &:after {
                  display: none;
                }
              }
              > ul {
                margin-bottom: 0;
              }
            }
          }
          .menu_panel {
            display: none;
            ul {
              margin-bottom: 0;
              border-bottom: none;
            }
          }
          &.products_cat {
            > a,
            > span {
              &:after {
                display: none;
              }
            }
            .sub_menu {
              ul {
                li {
                  width: 50%;
                  padding: 8px;
                  border-bottom-style: none;
                  > a,
                  > span {
                    padding-left: 1em;
                    &:after {
                      left: 0;
                      top: 6px;
                      right: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #sp_menu_info {
      margin-top: 30px;
      ul {
        display: flex;
        justify-content: center;
        margin: auto;
        li {
          padding: 0 30px;
          @include media767 {
            padding: 0 14px;
            font-size: 14px;
          }
          a {
            display: block;
            color: #fff;
            text-decoration: none;
            transition: all 0.5s;
            @include media1024 {
              &:hover {
                transition: all 0.5s;
                color: #009d4b;
              }
            }
          }
        }
      }
    }
  }
  .fuchs_logo {
    width: 142px;
    margin: auto;
    .fushs_logo_inner {
      > a,
      > div {
        display: flex;
        flex-direction: column;
        > span {
          display: block;
          width: 100%;
          + span {
            margin-top: 5px;
          }
        }
      }
    }
  }
} //sp_menu
.sp_menu_open {
  border-top: solid 1px #4d4e4e;
  #sp_menu {
    top: 80px;
    z-index: 9999;
    transition: 400ms;
  }
  header {
    #header {
      #sp_menu_btn {
        .sp_btn_cont {
          span {
            &.border01 {
              top: 2px;
              transform: translateY(4px) rotate(45deg);
            }
            &.border02 {
              opacity: 0;
            }
            &.border03 {
              top: 14px;
              transform: translateY(-8px) rotate(-45deg);
            }
          }
        }
      }
    }
  }
  &#sp_menu.scroll {
    top: 60px;
  }
}

/*                content
======================================================= */

.more_btn {
  width: 100%;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    max-width: 380px;
    height: 60px;
    text-decoration: none;
    font-weight: 700;
    border: solid 1px $colorSite;
    transition: all 0.5s;
    text-align: center;
    margin: 0 auto;
    @include media1599 {
    }
    @include media1024 {
      &:hover {
        background-color: $colorSite;
        &::after {
          background-color: #fff;
        }
        span {
          color: #fff;
        }
      }
    }
    @include media767 {
      max-width: 380px;
    }
    position: relative;
    &::after {
      position: absolute;
      content: "";
      mask: url(/wp-content/themes/game-translates/asset_game-translates/media/images/common/more_btn_arrow.svg)
        no-repeat center/contain;
      background-color: $colorSite;
      width: 60px;
      height: 9px;
      top: 50%;
      right: -20px;
      transform: translate(-50%, -50%);
    }
    span {
      display: inline-block;
      color: $colorSite;
      font-size: 18px;
      font-weight: bold;
      font-family: $fontGothic;
      transition: all 0.5s;
    }
  }
  + .more_btn {
    margin-top: 25px;
  }
}
/*                投稿レイアウト設定
======================================================= */

/*                pankuzu
======================================================= */
#bread {
  margin-bottom: 20px;
  padding: 0 50px;
  @include media767 {
    padding: 0 30px;
  }
  @include media427 {
    padding: 0 15px;
  }
  .main_width {
    ol {
      display: flex;
      flex-flow: row wrap;
      li {
        position: relative;
        display: inline-block;
        float: left;
        font-size: 11px;
        + li {
          padding-left: 1.75em;
          &:before {
            position: absolute;
            top: 50%;
            left: 0.5em;
            margin: auto;
            content: "";
            vertical-align: middle;
            width: 4px;
            height: 4px;
            border-top: 1px solid #000000;
            border-right: 1px solid #000000;
            transform: translateY(-50%) rotate(45deg);
          }
        }
        a {
          position: relative;
          &:before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.1em;
            width: 0%;
            height: 1px;
            border-bottom: solid 1px #000000;
            opacity: 0;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

/*                footer
======================================================= */
#footer {
  border-top: solid 1px #616161;
  background-color: #000;
  padding: 0 50px;
  @include media767 {
    padding: 0 30px;
  }
  @include media427 {
    padding: 0 15px;
  }
  .main_width {
    padding: 0;
    .brand_list {
      margin-top: 65px;
      ul {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        li {
          padding: 4px 0;
          border-left: solid 2px #616161;
          width: 20%;
          &:last-child {
            border-right: solid 2px #616161;
            @include media767 {
              border: none;
            }
          }
          @include media767 {
            margin-bottom: 20px;
            border-left: none;
            width: 33.3333%;
            &.col_2 {
              width: 40%;
            }
          }
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: auto;
              @include media1024 {
                height: 50px;
              }
              @include media767 {
                height: 64px;
              }
            }
          }
        }
      }
    }
  }
  .ft_logo {
    margin-top: 50px;
    text-align: center;
  }
  .copy {
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    p {
      color: #fff;
      font-size: 12px;
    }
  }
} //footer
