@charset "UTF-8";
@use "setting" as *;
/*                トップページ用
======================================================= */
/*TOP共通*/
#home {
  #wrapper {
    #first_view {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    } //first_view
    #home_kv {
      height: 100%;
      background-color: #ffffff;
      z-index: 9998;
    }
    .home_kv_inner {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .kv_slides {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .swiper-wrapper {
        height: 100%;
      }
      .swiper-slide {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

  }
} //home
