@charset "utf-8";
@import "setting";
/*                下層共通
======================================================= */
.lower{
  #wrapper{
    #main_area{
      padding-top: 80px;
      transition: all 0.5s;
      &.scroll{
        padding-top: 60px;
      }
      #main_title{
        margin-top: 80px;
        @include media768{
          margin-top: 60px;
        }
        .main_width{
          .main_title_inner{
            text-align: center;
            color: #000;
            h1,p{
              span{
                font-size: 46px;
                font-weight: 700;
                line-height: 1;
                @include media768{
                  font-size: 38px;
                }
              }
            }
            .content_title_jp{
              margin-top: 8px;
              span{
                font-size: 22px;
                font-weight: bold;
                @include media768{
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
      .content_wrapper{
        .main_width{
          max-width: 1200px;
          @include media1024{
            padding: 0;
          }
        }
      }
    }
  }
}

/*               サービス service
======================================================= */
#service{
  #wrapper{
    #main_area{
      .content_wrapper{
        .main_width{
          .main_cont{
            .content_inner{
              .image_cont{
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}

/*               コラム column
======================================================= */
#column{
  &.single{
    .title_area{
      margin-bottom: 20px;
      .cate{
        margin-bottom: 8px;
        span{
          padding: 4px 10px 2px;
          background-color: #4D7C2D;
          color: #fff;
          font-size: 12px;
          display: inline-block;
        }
      }
      .title{
        margin-top: 10px;
        h1{
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }
}

/*                bread
======================================================= */
#bread{
  @include media768 {
    display: none;
  }
  ol{
    display: flex;
    flex-flow: row wrap;
    li{
      display: inline-block;
      float: left;
      font-size: 11px;
      &:before{
        margin: 0 1em;
      }
      &:first-child{
        &:before{
          content: "";
          margin: 0;
        }
      }
    }
  }
}
.content{
}
//タイトル装飾
.main_title{
}
.content_title{
    h2{
    }
}
/*                ページネーション
======================================================= */
.pagination{
  margin-top: 50px;
  h2{
    display: none;
  }
  .nav-links,ul{
    display: flex;
    margin: 0 -5px;
    @include media768{
      justify-content: center;
    }
    span,a,li{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      background-color: #a6a6a6;
      //background-color: #404040;
      color: #fff;
      text-decoration: none;
      width: 34px;
      height: 34px;
      transition: all 0.5s;
      &:hover{
        opacity: 0.8;
      }
      &.next,&.prev{
        display: none;
      }
      &.current{
        background-color: #404040;
        border: solid 2px #404040;
        &:hover{
          opacity: 1;
        }
      }
      &.dots{
        margin: 0;
        background-color: #fff;
        color: #a6a6a6;
        &:hover{
          opacity: 1;
        }
      }
    }
    li:first-child{
      background-color: #404040;
      border: solid 2px #404040;
      a{
        background-color: #404040;
        border: solid 2px #404040;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}
/*                各種ファイル読み込み
======================================================= */
@include contact;
/*                記事系
======================================================= */
//読み込む場合は設定が必要　@include entry;
/*                お問い合わせ
======================================================= */
//読み込む場合は設定が必要　@//@include contact;
