@charset "UTF-8";

/////////////////////////案件ごとセッティング/////////////////////////

// カラー設定 //////////////////////////////////////////////////*/

$colorBlack: #333;
$colorSite: #dc143c;

$colorGrayBase: #f8f8f8;
$colorGrayLine: #f8f8f8;
$colorGrayWeak: #d8d8d8;
$colorGrayStrong: #8a8a8a;
$colorYellowLine: #f7ef2f;

// mixin設定 //////////////////////////////////////////////////*/

// 見出しタイトル フォントサイズ
//※特定デザインについてはフォントサイズにmixinを利用しない方が良い場合もある。

// コンテンツ幅の定義

@mixin w1600 {
  max-width: 1600px;
  margin: 0 auto;
  @include media1599 {
    max-width: 1600rem;
  }
  @include media767 {
    max-width: 100%;
  }
}

@mixin w1200 {
  max-width: 1200px;
  margin: 0 auto;
  @include media1599 {
    max-width: 1200rem;
  }
  @include media1279 {
    margin: 0 40rem;
  }
  @include media1023 {
    margin: 0 30rem;
  }
  @include media767 {
    margin: 0 20px;
    max-width: 100%;
  }
  @include media427 {
    margin: 0 15px;
  }
}

@mixin w1000 {
  max-width: 1000px;
  margin: 0 auto;
  @include media1599 {
    max-width: 1000rem;
  }
  @include media1279 {
    margin: 0 40rem;
  }
  @include media1023 {
    margin: 0 25rem;
  }
  @include media767 {
    margin: 0 20px;
    max-width: 100%;
  }
  @include media427 {
    margin: 0 15px;
  }
}

@mixin box-shadow {
  //角丸設定
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  @include media1279 {
    box-shadow: 0 0 8rem rgba(0, 0, 0, 0.2);
  }
  @include media767 {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}

@mixin text-shadow {
  //角丸設定
  text-shadow: 0 0 20px rgba(60, 66, 62, 1);
  @include media1279 {
    text-shadow: 0 0 20rem rgba(60, 66, 62, 1);
  }
  @include media767 {
    text-shadow: 0 0 15px rgba(60, 66, 62, 1);
  }
}

@mixin block-margin20 {
  //ブロック間 広め
  margin: 0 -20px;
  @include media1279 {
    margin: 0 -20rem;
  }
  div {
    padding: 0 20px;
    @include media1279 {
      padding: 0 20rem;
    }
  }
}
@mixin block-margin15 {
  //ブロック間 通常
  margin: 0 -15px;
  @include media1279 {
    margin: 0 -15rem;
  }
  div {
    padding: 0 15px;
    @include media1279 {
      padding: 0 15rem;
    }
  }
}
@mixin block-margin10 {
  //ブロック間 狭め
  margin: 0 -10px;
  @include media1279 {
    margin: 0 -10rem;
  }
  div {
    padding: 0 10px;
    @include media1279 {
      padding: 0 10rem;
    }
  }
}

//フォント変数
//======================================================= */
$fontGothic: "游ゴシック", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ",
  Meiryo, Osaka, sans-serif;
$fontLato: "Lato", sans-serif;
$fontNotoCJK: "NotoSansCJKJP", sans-serif;
@font-face {
  font-family: "Lato";
  font-style: "normal";
  font-weight: 700;
  font-display: swap; //読み込み中のテキスト表示
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: "normal";
  font-weight: 400;
  font-display: swap; //読み込み中のテキスト表示
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansCJKJP";
  font-style: "normal";
  font-weight: 500;
  font-display: swap; //読み込み中のテキスト表示
  src: url("../fonts/NotoSansCJKjp-Medium-subset.woff") format("woff");
}
@font-face {
  font-family: "NotoSansCJKJP";
  font-style: "normal";
  font-weight: 700;
  font-display: swap; //読み込み中のテキスト表示
  src: url("../fonts/NotoSansCJKjp-Bold-subset.woff") format("woff");
}
////////// メディアクエリー デバイス幅//////////
//ディスプレイサイズ/*1920×1080、2560×1440、1600×900、1680×1050は定義をつけない
$width-1599: 1599px; // 画面幅1600未満から1440のディスプレイに対応
$width-1500: 1500px; // 画面幅1600未満から1440のディスプレイに対応
$width-1439: 1439px; // 画面幅1440未満から1280のディスプレイに対応
$width-1279: 1279px; // 画面幅1280未満から1024のディスプレイに対応
$width-1200: 1200px; //
$width-1024: 1024px; //	タブレット以上のときにだけリンクのhoverをonにするため、ブレイクポイントを追加
$width-1023: 1023px; // 画面幅1024未満から768タブレットサイズに対応
$width-768: 768px; // PCサイズ以上のみに対応
$width-767: 767px; // 768タブレット未満からスマホのディスプレイ幅428pxまで対応
$width-427: 427px; // スマホのディスプレイ幅428px未満から375まで対応
$width-374: 374px; // スマホのディスプレイ幅375px未満から360まで対応
$width-359: 359px; // スマホのディスプレイ幅360未満に対応

@mixin media1599 {
  //  1599以下
  @media only screen and (max-width: $width-1599) {
    @content;
  }
}
@mixin media1500 {
  //  1439以下
  @media only screen and (max-width: $width-1500) {
    @content;
  }
}
@mixin media1439 {
  //  1439以下
  @media only screen and (max-width: $width-1439) {
    @content;
  }
}
@mixin media1279 {
  //  1279以下
  @media only screen and (max-width: $width-1279) {
    @content;
  }
}
@mixin media1200 {
  //  1200以下
  @media only screen and (max-width: $width-1200) {
    @content;
  }
}
@mixin media1024 {
  //  1024以上
  @media only screen and (min-width: $width-1024) {
    @content;
  }
}
@mixin media1023 {
  // 1023以下
  @media only screen and (max-width: $width-1023) {
    @content;
  }
}
@mixin media768 {
  // 768以上
  @media only screen and (min-width: $width-768) {
    @content;
  }
}
@mixin media767 {
  // 767以下
  @media only screen and (max-width: $width-767) {
    @content;
  }
}
@mixin media427 {
  // 427以下
  @media only screen and (max-width: $width-427) {
    @content;
  }
}
@mixin media374 {
  // 374以下
  @media only screen and (max-width: $width-374) {
    @content;
  }
}
@mixin media359 {
  // 359以下
  @media only screen and (max-width: $width-359) {
    @content;
  }
}

// モーダルナビメニューのフェードイン処理
@keyframes modalNavMenuShow {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  1% {
    opacity: 0;
    visibility: hidden;
    display: block;
  }
  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

//	REM設定　767px以下はpxに切り替えるほうが制御しやすい
//======================================================= */

html {
  font-size: calc(100vw * 1 / 1600);
  @include media1279 {
    font-size: calc(100vw * 1 / 1279);
  }
  @include media1200 {
    font-size: calc(100vw * 1 / 1200);
  }
  @include media1023 {
    font-size: calc(100vw * 1 / 1023);
  }
  @include media767 {
    font-size: 10px;
  }
}

// reset
//=================================================*/
@mixin reset {
  *,
  *::before,
  *::after {
    /* Box sizingの定義 */
    box-sizing: border-box;
  }
  ul,
  ol {
    /* デフォルトのmargin, paddingを削除 */
    margin: 0;
    padding: 0;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    /* デフォルトのmarginを削除 */
    margin: 0;
    font-family: $fontGothic;
  }
  body {
    /* bodyのデフォルトを定義 */
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1;
    color: #000;
    letter-spacing: 0.075em;
    -webkit-text-size-adjust: 100%; /*iphoneの勝手に文字拡大を防ぐ*/
    font-family: $fontGothic;
    letter-spacing: 0em;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3;
    letter-spacing: 0em;
  }
  p,
  li,
  dt,
  dd {
    line-height: 1.6;
    letter-spacing: 0em;
  }
  ul,
  ol {
    /* class属性を持つul、ol要素のリストスタイルを削除 */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a,
  span {
    letter-spacing: 0em;
  }

  a:not([class]) {
    /* classを持たない要素はデフォルトのスタイルを取得 */
    text-decoration-skip-ink: auto;
  }

  img {
    /* img要素の扱いを簡単にする */
    width: 100%;
    height: auto;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    /* inputやbuttonなどのフォントは継承を定義 */
    font: inherit;
  }

  button {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
  }

  sup {
    font-size: 11px;
    transform: translateY(3px);
    display: inline-block;
  }

  /*@mixin resetはここまで*/
}
