@charset "UTF-8";
@use "setting" as *;
/*                トップページ用
======================================================= */
/*TOP共通*/
#home {
  #wrapper {
    #first_view {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    } //first_view
    #transtlate {
      height: 100%;
      background-color: #ffffff;
      z-index: 9998;
    }
    .transtlate_group {
      height: 100%;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        mask: url(/media/images/common/zombie05.svg) no-repeat center/contain;
        width: 500px;
        height: 500px;
        background: $colorSite;
        bottom: 0;
        left: 10%;
        @include media1023 {
          width: 400px;
          height: 400px;
        }
      }
    }
    .transtlate_group_inr {
      height: 100%;
      position: relative;
    }
    .transtlate_block {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
    }
    .transtlate_block_inr {
      h2 {
        font-size: 42px;
        font-family: $fontGothic;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.05em;
      }
      .text {
        font-size: 20px;
        text-align: center;
        font-family: $fontGothic;
        font-weight: 500;
      }
    }
  }
  #app {
    margin: 30px;
    text-align: center;
    padding-bottom: 250px;
    input {
      width: 500px;
      font-size: 20px;
      max-width: 100%;
    }
    .output {
      width: 500px;
      font-size: 20px;
      max-width: 100%;
      margin: 10px auto 0;
      text-align: left;
      font-family: $fontGothic;
      font-weight: 500;
    }
  }
} //home
